<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                            http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         id="WebApp_ID"
         version="3.0">
  <display-name>H-plus</display-name>
  <error-page>
    <location>/jsp/error.jsp</location>
  </error-page>
  <context-param>
    <param-name>dbUrl</param-name>
    <param-value>jdbc:mysql://127.0.0.1:3306/hplus</param-value>
  </context-param>
  <context-param>
    <param-name>dbUser</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>dbPassword</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>redirectLink</param-name>
    <param-value>https://github.com/herman2lv/h-plus-sport</param-value>
  </context-param>
</web-app>
